.btn {
border: solid 2px black;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
margin: rem(50) rem(20);
border-radius: 5px;
padding: rem(15);
font-size: 24px;
cursor: pointer;
transition: color 0.3s, border-color 0.3s;
vertical-align: inherit;

// font-family: inherit;
// font-size: inherit;
// font-weight: inherit;
// color: inherit;
}
.btn:hover{
    color: rgba(92, 92, 34, 0.799);
    border-color: rgba(92, 92, 34, 0.799);
}