@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        scale: 50%;
    }

    to {
        scale: 100%;
  
    }
}
.modal{
    z-index: 1;
    @include flexCenter;
    color: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #00000050;
    animation: showModal .3s;

    
    &__body{
        background: rgba(234,75,53,255);
        display: flex;
        flex-direction: column;
        border-radius: rem(5);
        position: relative;
        animation: scale .3s;
        top: 30%;
    }
    &__header{
        padding: rem(25);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: rem(5) rem(5) 0 0;
        background-color: rgba(214,69,50,255);
    
    }
    &__title{
        font-size: 20px;
        font-weight: 700;
        text-align-last: left;

    }
    &__close{
        position: relative;
        height: rem(30);
        width: rem(30);
        
        &::before,
        &:after {
            position: absolute;
            content: '';
            background: white;
            left: 50%;
            top: 50%;
            height: 3px;
            width: 100%;
            transition: transform .3s, background-color .3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {

            &::before {
                transform: translate(-50%, -50%) rotate(135deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

    }
    &__text{
        padding: rem(25);
        line-height: 170%;
        text-align: center;

    }
    &__btns{
        @include flexCenter;
        gap: rem(15);
        margin-bottom: rem(25);

    }
    &__btn{
        background-color: rgba(176,59,33,255);
        border-radius: 5px;
        padding: 10px;
        min-width: 100px;
        transition: background-color .3s;
        

    }
    &__btn:hover{
        background-color: rgb(121, 26, 26);
    }
}