//REM to PX
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

// Center by flex
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
